services:
  db:
    container_name: hodor_postgresdb
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: example
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB

  cache:
    container_name: hodor_rediscache
    image: redis:alpine
    restart: always
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - redisdata:/data
  
  api:
    container_name: hodor_fastapiapp
    build: ./docker/fastapi/
    ports:
      - "5000:80"
    depends_on:
      db:
        condition: service_healthy
      cache:  
        condition: service_healthy

  web:
    container_name: hodor_nginxweb
    image: nginx:alpine
    ports:
      - "8000:80"
    depends_on:
      - api
    volumes:
      - ./pages:/usr/share/nginx/html
      - ./nginx.conf:/etc/nginx/nginx.conf:ro

volumes:
  pgdata:
  redisdata:
